openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Review Cycle Admin Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: review-cycle-admin-resource
  description: Review Cycle Admin Resource
paths:
  /v2/review-cycles/{cycleId}/cycle-admins:
    post:
      tags:
      - review-cycle-admin-resource
      summary: editReviewCycleAdmins
      operationId: editReviewCycleAdminsUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Key_User_'
        description: userIds
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReviewCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/review-cycles/{cycleId}/cycle-admins/{userId}:
    put:
      tags:
      - review-cycle-admin-resource
      summary: addCycleAdmin
      operationId: addCycleAdminUsingPUT_2
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - review-cycle-admin-resource
      summary: removeCycleAdmin
      operationId: removeCycleAdminUsingDELETE_2
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    Key_User_:
      type: object
      title: Key«User»
    ReviewCycleListDto:
      type: object
      title: ReviewCycleListDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
