openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource feedback-cycles-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: feedback-cycles-resource
  description: Feedback Cycles Resource
paths:
  /v2/feedback-cycles:
    get:
      tags:
      - feedback-cycles-resource
      summary: getFeedbackCycles
      operationId: getFeedbackCyclesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackCycleListDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/guided/create:
    post:
      tags:
      - feedback-cycles-resource
      summary: createFeedbackCycleGuided
      operationId: createFeedbackCycleGuidedUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/FeedbackCycleGuidedDto'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/guided/edit:
    post:
      tags:
      - feedback-cycles-resource
      summary: editFeedbackCycleGuided
      operationId: editFeedbackCycleGuidedUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/FeedbackCycleGuidedDto'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/guided/{cycleId}:
    get:
      tags:
      - feedback-cycles-resource
      summary: getFeedbackCycleGuided
      operationId: getFeedbackCycleGuidedUsingGET
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleGuidedDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/hidden-feedback-for-user/{userId}:
    get:
      tags:
      - feedback-cycles-resource
      summary: getFeedbackCyclesWithHiddenFeedbackFor
      operationId: getFeedbackCyclesWithHiddenFeedbackForUsingGET
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackCycleListDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/preview/{cycleId}:
    get:
      tags:
      - feedback-cycles-resource
      summary: getFeedbackCyclePreview
      operationId: getFeedbackCyclePreviewUsingGET
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleGuidedDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}:
    get:
      tags:
      - feedback-cycles-resource
      summary: get
      operationId: getUsingGET_6
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - feedback-cycles-resource
      summary: delete
      operationId: deleteUsingDELETE_3
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/feedback-cycles/{cycleId}/approve_all:
    post:
      tags:
      - feedback-cycles-resource
      summary: approveAll
      operationId: approveAllUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/archive:
    put:
      tags:
      - feedback-cycles-resource
      summary: archive
      operationId: archiveUsingPUT
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/bulk_approve:
    post:
      tags:
      - feedback-cycles-resource
      summary: bulkApprove
      operationId: bulkApproveUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: array
              items:
                type: string
        description: feedbackRequestIds
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/complete_all:
    post:
      tags:
      - feedback-cycles-resource
      summary: completeAll
      operationId: completeAllUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/inform_all:
    post:
      tags:
      - feedback-cycles-resource
      summary: informAllManagersToApproveReviewers
      operationId: informAllManagersToApproveReviewersUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: onlyWithNominees
        in: query
        description: onlyWithNominees
        required: false
        schema:
          type: boolean
      - name: target
        in: query
        description: target
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/inform_managers_to_nominate:
    post:
      tags:
      - feedback-cycles-resource
      summary: informAllManagersToNominateReviewers
      operationId: informAllManagersToNominateReviewersUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/nudge_all:
    post:
      tags:
      - feedback-cycles-resource
      summary: nudgeAll
      operationId: nudgeAllUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: onlyWithNominees
        in: query
        description: onlyWithNominees
        required: false
        schema:
          type: boolean
      - name: target
        in: query
        description: target
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/unarchive:
    put:
      tags:
      - feedback-cycles-resource
      summary: unarchive
      operationId: unarchiveUsingPUT
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackCycleListDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  requestBodies:
    FeedbackCycleGuidedDto:
      content:
        application/json;charset=UTF-8:
          schema:
            $ref: '#/components/schemas/FeedbackCycleGuidedDto'
      description: feedbackCycleGuided
      required: true
  schemas:
    FeedbackCycleListDto:
      type: object
      title: FeedbackCycleListDto
    FeedbackCycleGuidedDto:
      type: object
      title: FeedbackCycleGuidedDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
