openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource summary-assistant-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: summary-assistant-resource
  description: Summary Assistant Resource
paths:
  /v2/summary-assistant:
    post:
      tags:
      - summary-assistant-resource
      summary: prompt
      operationId: promptUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummaryAssistantRequest'
        description: request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponse'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/summary-assistant/tokens:
    get:
      tags:
      - summary-assistant-resource
      summary: getAllowedRequests
      operationId: getAllowedRequestsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/summary-assistant/{id}:
    get:
      tags:
      - summary-assistant-resource
      summary: getKeyTakeaways
      operationId: getKeyTakeawaysUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    SummaryAssistantRequest:
      type: object
      title: SummaryAssistantRequest
    SummaryResponse:
      type: object
      title: SummaryResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
