openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource automations-options-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: automations-options-resource
  description: Automations Options Resource
paths:
  /v2/automations/options:
    get:
      tags:
      - automations-options-resource
      summary: getAutomationsOptions
      operationId: getAutomationsOptionsUsingGET
      parameters:
      - name: targetGroup
        in: query
        description: targetGroup
        required: true
        schema:
          type: string
          enum:
          - ADMIN
          - IC
          - MANAGER
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/OptionsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    OptionsDto:
      type: object
      title: OptionsDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
