openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource meeting-actions-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: meeting-actions-resource
  description: Meeting Actions Resource
paths:
  /v2/meeting-actions:
    get:
      tags:
      - meeting-actions-resource
      summary: getAll
      operationId: getAllUsingGET
      parameters:
      - name: forUser
        in: query
        description: forUser
        required: false
        schema:
          type: string
      - name: participants
        in: query
        description: participants
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingActionDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
      - meeting-actions-resource
      summary: create
      operationId: createUsingPOST_1
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/MeetingActionCreate'
        description: createRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingActionDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    patch:
      tags:
      - meeting-actions-resource
      summary: update
      operationId: updateUsingPATCH
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/MeetingActionUpdate'
        description: update
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingActionDto'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/meeting-actions/{actionId}:
    delete:
      tags:
      - meeting-actions-resource
      summary: delete
      operationId: deleteUsingDELETE_6
      parameters:
      - name: actionId
        in: path
        description: actionId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    MeetingActionDto:
      type: object
      title: MeetingActionDto
    MeetingActionUpdate:
      type: object
      title: MeetingActionUpdate
    MeetingActionCreate:
      type: object
      title: MeetingActionCreate
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
