openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Notification Log Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: notification-log-resource
  description: Notification Log Resource
paths:
  /v2/notificationLogs/count/new:
    get:
      tags:
      - notification-log-resource
      summary: getNewCount
      operationId: getNewCountUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/NotificationLogCountDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/notificationLogs/count/reset:
    post:
      tags:
      - notification-log-resource
      summary: resetNewCount
      operationId: resetNewCountUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/NotificationLogCountDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/notificationLogs/latest:
    get:
      tags:
      - notification-log-resource
      summary: getLatest
      operationId: getLatestUsingGET
      parameters:
      - name: limit
        in: query
        description: limit
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: offset
        in: query
        description: offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationLogDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/notificationLogs/markAllAsRead:
    post:
      tags:
      - notification-log-resource
      summary: markAllAsRead
      operationId: markAllAsReadUsingPOST
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/notificationLogs/markAsRead/{id}:
    post:
      tags:
      - notification-log-resource
      summary: markAsRead
      operationId: markAsReadUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/NotificationLogDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/notificationLogs/markAsUnread/{id}:
    post:
      tags:
      - notification-log-resource
      summary: markAsUnread
      operationId: markAsUnreadUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/NotificationLogDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    NotificationLogDto:
      type: object
      title: NotificationLogDto
    NotificationLogCountDto:
      type: object
      title: NotificationLogCountDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
