openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource anytime-feedback-export-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: anytime-feedback-export-resource
  description: Anytime Feedback Export Resource
paths:
  /v2/anytime-feedback-export:
    post:
      tags:
      - anytime-feedback-export-resource
      summary: triggerExport
      operationId: triggerExportUsingPOST
      parameters:
      - name: format
        in: query
        description: format
        required: true
        schema:
          type: string
          enum:
          - CSV
          - EXCEL
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
      - name: until
        in: query
        description: until
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DownloadableFileDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/anytime-feedback-export/team:
    post:
      tags:
      - anytime-feedback-export-resource
      summary: triggerExportForTeam
      operationId: triggerExportForTeamUsingPOST
      parameters:
      - name: format
        in: query
        description: format
        required: true
        schema:
          type: string
          enum:
          - CSV
          - EXCEL
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
      - name: until
        in: query
        description: until
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DownloadableFileDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    DownloadableFileDto:
      type: object
      title: DownloadableFileDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
