openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Feedback Reviewers Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: feedback-reviewers-resource
  description: Feedback Reviewers Resource
paths:
  /v2/feedback-cycles/{cycleId}/reviewers:
    get:
      tags:
      - feedback-reviewers-resource
      summary: listUserParticipations
      operationId: listUserParticipationsUsingGET
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackParticipationByUserDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/reviewers/{reviewerId}/nudge:
    post:
      tags:
      - feedback-reviewers-resource
      summary: nudgeReviewerForAllHisParticipations
      operationId: nudgeReviewerForAllHisParticipationsUsingPOST
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: reviewerId
        in: path
        description: reviewerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback-cycles/{cycleId}/reviewers/{reviewerId}/participations:
    get:
      tags:
      - feedback-reviewers-resource
      summary: getUserParticipations
      operationId: getUserParticipationsUsingGET
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: reviewerId
        in: path
        description: reviewerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackParticipantListDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    FeedbackParticipationByUserDto:
      type: object
      title: FeedbackParticipationByUserDto
    FeedbackParticipantListDto:
      type: object
      title: FeedbackParticipantListDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
