openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource assessment-admin-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: assessment-admin-resource
  description: Assessment Admin Resource
paths:
  /v2/assessment:
    post:
      tags:
      - assessment-admin-resource
      summary: createAssessment
      operationId: createAssessmentUsingPOST
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateAssessmentCommand'
        description: createAssessmentCommand
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Assessment'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/assessment/{assessmentKey}/answers/{authorKey}:
    post:
      tags:
      - assessment-admin-resource
      summary: moderateAnswers
      operationId: moderateAnswersUsingPOST
      parameters:
      - name: assessmentKey
        in: path
        description: assessmentKey
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/AnswerDtoArray'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AssessmentDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Assessment:
      type: object
      title: Assessment
    CreateAssessmentCommand:
      type: object
      title: CreateAssessmentCommand
    AnswerDto:
      type: object
      title: AnswerDto
    AssessmentDto:
      type: object
      title: AssessmentDto
  requestBodies:
    AnswerDtoArray:
      content:
        application/json;charset=UTF-8:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AnswerDto'
      description: answerDto
      required: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
