openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Downloadable File Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: downloadable-file-resource
  description: Downloadable File Resource
paths:
  /v2/downloadable-file:
    get:
      tags:
      - downloadable-file-resource
      summary: getUsersDownloadableFiles
      operationId: getUsersDownloadableFilesUsingGET
      parameters:
      - name: from
        in: query
        description: from
        required: false
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        description: limit
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Iterable_DownloadableFileDto_'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/downloadable-file/{fileId}:
    get:
      tags:
      - downloadable-file-resource
      summary: getFileInfo
      operationId: getFileInfoUsingGET
      parameters:
      - name: fileId
        in: path
        description: fileId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DownloadableFileDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - downloadable-file-resource
      summary: deleteFile
      operationId: deleteFileUsingDELETE
      parameters:
      - name: fileId
        in: path
        description: fileId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/downloadable-file/{fileId}/download:
    get:
      tags:
      - downloadable-file-resource
      summary: downloadFile
      operationId: downloadFileUsingGET
      parameters:
      - name: fileId
        in: path
        description: fileId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Download'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Iterable_DownloadableFileDto_:
      type: object
      title: Iterable«DownloadableFileDto»
    Download:
      type: object
      title: Download
    DownloadableFileDto:
      type: object
      title: DownloadableFileDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
