openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements User Attachment Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: user-attachment-resource
  description: User Attachment Resource
paths:
  /v2/users/{userId}/attachments:
    post:
      tags:
      - user-attachment-resource
      summary: create
      operationId: createUsingPOST_6
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateUserAttachmentDto'
        description: createUserAttachment
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserProfileDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/users/{userId}/attachments/{attachmentId}:
    get:
      tags:
      - user-attachment-resource
      summary: download
      operationId: downloadUsingGET_3
      parameters:
      - name: attachmentId
        in: path
        description: attachmentId
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Download'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - user-attachment-resource
      summary: delete
      operationId: deleteUsingDELETE_18
      parameters:
      - name: attachmentId
        in: path
        description: attachmentId
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserProfileDto'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    UserProfileDto:
      type: object
      title: UserProfileDto
    Download:
      type: object
      title: Download
    CreateUserAttachmentDto:
      type: object
      title: CreateUserAttachmentDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
