openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Email Configuration Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: email-configuration-resource
  description: Email Configuration Resource
paths:
  /v2/email-configuration:
    get:
      tags:
      - email-configuration-resource
      summary: getConfiguration
      operationId: getConfigurationUsingGET_1
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/EmailConfigurationDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
      - email-configuration-resource
      summary: setConfiguration
      operationId: setConfigurationUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailConfigurationDto'
        description: emailConfigurationDto
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/EmailConfigurationDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    EmailConfigurationDto:
      type: object
      title: EmailConfigurationDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
