openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Calendar Integration Admin Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: calendar-integration-admin-resource
  description: Calendar Integration Admin Resource
paths:
  /v2/admin-calendar-integration:
    get:
      tags:
      - calendar-integration-admin-resource
      summary: getConfiguration
      operationId: getConfigurationUsingGET
      parameters:
      - name: companyId
        in: query
        description: companyId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CalendarConfigurationDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/admin-calendar-integration/remove-provider:
    post:
      tags:
      - calendar-integration-admin-resource
      summary: removeProvider
      operationId: removeProviderUsingPOST
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/admin-calendar-integration/verify-google:
    put:
      tags:
      - calendar-integration-admin-resource
      summary: verifyGoogleConnection
      operationId: verifyGoogleConnectionUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: boolean
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    CalendarConfigurationDto:
      type: object
      title: CalendarConfigurationDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
