openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Meeting Note Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: meeting-note-resource
  description: Meeting Note Resource
paths:
  /v2/meetings/{meetingId}/notes:
    post:
      tags:
      - meeting-note-resource
      summary: createNote
      operationId: createNoteUsingPOST
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateNoteCommand'
        description: command
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MeetingNoteDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meetings/{meetingId}/notes/{noteId}:
    put:
      tags:
      - meeting-note-resource
      summary: editNote
      operationId: editNoteUsingPUT
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      - name: noteId
        in: path
        description: noteId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditNoteCommand'
        description: command
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MeetingNoteDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - meeting-note-resource
      summary: deleteNote
      operationId: deleteNoteUsingDELETE
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      - name: noteId
        in: path
        description: noteId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    EditNoteCommand:
      type: object
      title: EditNoteCommand
    CreateNoteCommand:
      type: object
      title: CreateNoteCommand
    MeetingNoteDto:
      type: object
      title: MeetingNoteDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
