openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Talking Point Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: talking-point-resource
  description: Talking Point Resource
paths:
  /v2/meetings/{meetingId}/talkingpoints:
    post:
      tags:
      - talking-point-resource
      summary: createTalkingPoints
      operationId: createTalkingPointsUsingPOST
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateTalkingPointCommandList'
        description: commandList
        required: true
        x-examples:
          application/json: '[{''content'': ''string'', ''visibility'': ''SHARED'', ''checked'': true}]'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TalkingPointDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
      - talking-point-resource
      summary: reorderTalkingPoint
      operationId: reorderTalkingPointUsingPUT
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditPositionCommand'
        description: command
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TalkingPointDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meetings/{meetingId}/talkingpoints/{pointId}:
    put:
      tags:
      - talking-point-resource
      summary: editTalkingPoint
      operationId: editTalkingPointUsingPUT
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      - name: pointId
        in: path
        description: pointId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditTalkingPointCommand'
        description: command
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - talking-point-resource
      summary: deletePoint
      operationId: deletePointUsingDELETE
      parameters:
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      - name: pointId
        in: path
        description: pointId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/meetings/{meetingId}/talkingpoints/{pointId}/check:
    put:
      tags:
      - talking-point-resource
      summary: toggleTalkingPoint
      operationId: toggleTalkingPointUsingPUT
      parameters:
      - name: checked
        in: query
        description: checked
        required: true
        schema:
          type: boolean
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      - name: pointId
        in: path
        description: pointId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    EditPositionCommand:
      type: object
      title: EditPositionCommand
    CreateTalkingPointCommandList:
      type: object
      title: CreateTalkingPointCommandList
    TalkingPointDto:
      type: object
      title: TalkingPointDto
    EditTalkingPointCommand:
      type: object
      title: EditTalkingPointCommand
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
