openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource nudge-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: nudge-resource
  description: Nudge Resource
paths:
  /v2/meeting-nudges/spaces:
    get:
      tags:
      - nudge-resource
      summary: getMeetingNudges
      operationId: getMeetingNudgesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSpaceNudgesRecordDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
      - nudge-resource
      summary: sendNudges
      operationId: sendNudgesUsingPOST
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/NudgeRequests'
        description: nudgeRequests
        required: true
        x-examples:
          application/json: '[{''participants'': [''string'',''string''], ''nudgeeKey'': ''string (one of participants)''}]'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSpaceNudgesRecordDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    MeetingSpaceNudgesRecordDto:
      type: object
      title: MeetingSpaceNudgesRecordDto
    NudgeRequests:
      type: object
      title: NudgeRequests
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
