openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource objective-cycles-export-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: objective-cycles-export-resource
  description: Objective Cycles Export Resource
paths:
  /v2/objective-cycles/{cycleId}/export/lazy/{exportType}/{outputType}:
    post:
      tags:
      - objective-cycles-export-resource
      summary: lazyExportFeedback
      operationId: lazyExportFeedbackUsingPOST_1
      parameters:
      - name: columns
        in: query
        description: columns
        required: true
        schema:
          type: string
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: exportType
        in: path
        description: exportType
        required: true
        schema:
          type: string
      - name: outputType
        in: path
        description: outputType
        required: true
        schema:
          type: string
          enum:
          - CSV
          - EXCEL
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/objective-cycles/{cycleId}/export/xml:
    get:
      tags:
      - objective-cycles-export-resource
      summary: generateXML
      operationId: generateXMLUsingGET_1
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Download'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/objective-cycles/{cycleId}/export/{exportType}/columns:
    get:
      tags:
      - objective-cycles-export-resource
      summary: availableColumns
      operationId: availableColumnsUsingGET_1
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: exportType
        in: path
        description: exportType
        required: true
        schema:
          type: string
          enum:
          - ByObjective
          - ByUser
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableColumn'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/objective-cycles/{cycleId}/export/{exportType}/{outputType}:
    get:
      tags:
      - objective-cycles-export-resource
      summary: exportObjectives
      operationId: exportObjectivesUsingGET
      parameters:
      - name: columns
        in: query
        description: columns
        required: true
        schema:
          type: string
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      - name: exportType
        in: path
        description: exportType
        required: true
        schema:
          type: string
          enum:
          - ByObjective
          - ByUser
      - name: outputType
        in: path
        description: outputType
        required: true
        schema:
          type: string
          enum:
          - CSV
          - EXCEL
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Download'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/objective-cycles/{cycleId}/export_xml/lazy:
    post:
      tags:
      - objective-cycles-export-resource
      summary: lazyGenerateXML
      operationId: lazyGenerateXMLUsingPOST_1
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Download:
      type: object
      title: Download
    AvailableColumn:
      type: object
      title: AvailableColumn
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
