openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Companies Design Settings Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: companies-design-settings-resource
  description: Companies Design Settings Resource
paths:
  /v2/companies/{companyId}/design:
    get:
      tags:
      - companies-design-settings-resource
      summary: get
      operationId: getUsingGET_3
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CompanyDesignSettings'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
      - companies-design-settings-resource
      summary: update
      operationId: updateUsingPUT
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CompanyDesignSettingsDTO'
        description: dto
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CompanyDesignSettings'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/companies/{companyId}/design/image:
    post:
      tags:
      - companies-design-settings-resource
      summary: addImage
      operationId: addImageUsingPOST
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/addImageUsingPOSTBody'
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: string
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    CompanyDesignSettings:
      type: object
      title: CompanyDesignSettings
    CompanyDesignSettingsDTO:
      type: object
      title: CompanyDesignSettingsDTO
  requestBodies:
    addImageUsingPOSTBody:
      content:
        application/json;charset=UTF-8:
          schema:
            type: object
            additionalProperties:
              type: string
      description: body
      required: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
