openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource personal-access-token-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: personal-access-token-resource
  description: Personal Access Token Resource
paths:
  /v2/personal-access-token:
    get:
      tags:
      - personal-access-token-resource
      summary: getTokens
      operationId: getTokensUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalAccessTokenDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
      - personal-access-token-resource
      summary: createToken
      operationId: createTokenUsingPOST
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/PersonalAccessTokenRequest'
        description: request
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PersonalAccessTokenDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - personal-access-token-resource
      summary: revokeAllTokens
      operationId: revokeAllTokensUsingDELETE
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/personal-access-token/{tokenId}:
    delete:
      tags:
      - personal-access-token-resource
      summary: revokeToken
      operationId: revokeTokenUsingDELETE
      parameters:
      - name: tokenId
        in: path
        description: tokenId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    PersonalAccessTokenRequest:
      type: object
      title: PersonalAccessTokenRequest
    PersonalAccessTokenDto:
      type: object
      title: PersonalAccessTokenDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
