openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements User Merge Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: user-merge-resource
  description: User Merge Resource
paths:
  /v2/users/merge/{sourceId}/{destinationId}:
    post:
      tags:
      - user-merge-resource
      summary: mergeUsers
      operationId: mergeUsersUsingPOST
      parameters:
      - name: deleteSourceAfterMerge
        in: query
        description: deleteSourceAfterMerge
        required: false
        schema:
          type: boolean
      - name: destinationId
        in: path
        description: destinationId
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: sourceId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/users/{userId}/merge-stats:
    get:
      tags:
      - user-merge-resource
      summary: getUserMergeStats
      operationId: getUserMergeStatsUsingGET
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/UserStatsDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    UserStatsDTO:
      type: object
      title: UserStatsDTO
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
