openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Meeting Space Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: meeting-space-resource
  description: Meeting Space Resource
paths:
  /v2/meeting-spaces/me:
    get:
      tags:
      - meeting-space-resource
      summary: getMyMeetingSpaces
      operationId: getMyMeetingSpacesUsingGET
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: rules.fixedOffset
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].dayOfMonthIndicator
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].dayOfWeek
        in: query
        required: false
        schema:
          type: string
          enum:
          - FRIDAY
          - MONDAY
          - SATURDAY
          - SUNDAY
          - THURSDAY
          - TUESDAY
          - WEDNESDAY
      - name: rules.transitionRules[0].localTime.hour
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.minute
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.second
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].midnightEndOfDay
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].month
        in: query
        required: false
        schema:
          type: string
          enum:
          - APRIL
          - AUGUST
          - DECEMBER
          - FEBRUARY
          - JANUARY
          - JULY
          - JUNE
          - MARCH
          - MAY
          - NOVEMBER
          - OCTOBER
          - SEPTEMBER
      - name: rules.transitionRules[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].standardOffset.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].standardOffset.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].timeDefinition
        in: query
        required: false
        schema:
          type: string
          enum:
          - STANDARD
          - UTC
          - WALL
      - name: rules.transitions[0].dateTimeAfter
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].dateTimeBefore
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].duration.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].duration.negative
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.seconds
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rules.transitions[0].duration.units[0].dateBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].durationEstimated
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].timeBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.zero
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].gap
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].instant
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].overlap
        in: query
        required: false
        schema:
          type: boolean
      - name: totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSpaceDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meeting-spaces/mini/shared:
    get:
      tags:
      - meeting-space-resource
      summary: getSharedMeetingSpacesMini
      operationId: getSharedMeetingSpacesMiniUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSpaceMiniDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meeting-spaces/shared:
    get:
      tags:
      - meeting-space-resource
      summary: getSharedMeetingSpaces
      operationId: getSharedMeetingSpacesUsingGET
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: minUpdatedDate
        in: query
        description: minUpdatedDate
        required: true
        schema:
          type: string
          format: date-time
      - name: rules.fixedOffset
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].dayOfMonthIndicator
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].dayOfWeek
        in: query
        required: false
        schema:
          type: string
          enum:
          - FRIDAY
          - MONDAY
          - SATURDAY
          - SUNDAY
          - THURSDAY
          - TUESDAY
          - WEDNESDAY
      - name: rules.transitionRules[0].localTime.hour
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.minute
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.second
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].midnightEndOfDay
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].month
        in: query
        required: false
        schema:
          type: string
          enum:
          - APRIL
          - AUGUST
          - DECEMBER
          - FEBRUARY
          - JANUARY
          - JULY
          - JUNE
          - MARCH
          - MAY
          - NOVEMBER
          - OCTOBER
          - SEPTEMBER
      - name: rules.transitionRules[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].standardOffset.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].standardOffset.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].timeDefinition
        in: query
        required: false
        schema:
          type: string
          enum:
          - STANDARD
          - UTC
          - WALL
      - name: rules.transitions[0].dateTimeAfter
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].dateTimeBefore
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].duration.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].duration.negative
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.seconds
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rules.transitions[0].duration.units[0].dateBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].durationEstimated
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].timeBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.zero
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].gap
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].instant
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].overlap
        in: query
        required: false
        schema:
          type: boolean
      - name: totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MeetingSpaceDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meeting-spaces/shared-count:
    get:
      tags:
      - meeting-space-resource
      summary: getSharedMeetingSpacesCount
      operationId: getSharedMeetingSpacesCountUsingGET
      parameters:
      - name: minUpdatedDate
        in: query
        description: minUpdatedDate
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MeetingSpacesSharedCount'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    MeetingSpaceMiniDto:
      type: object
      title: MeetingSpaceMiniDto
    MeetingSpacesSharedCount:
      type: object
      title: MeetingSpacesSharedCount
    MeetingSpaceDto:
      type: object
      title: MeetingSpaceDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
