openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Feedback Template Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: feedback-template-resource
  description: Feedback Template Resource
paths:
  /v2/feedback/template/order:
    get:
      tags:
      - feedback-template-resource
      summary: getOrderLegacy
      operationId: getOrderLegacyUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateOrderDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback/template/{id}:
    put:
      tags:
      - feedback-template-resource
      summary: editTemplate
      operationId: editTemplateUsingPUT
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateDto'
        description: template
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - feedback-template-resource
      summary: deleteTemplate
      operationId: deleteTemplateUsingDELETE
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /v2/feedback/template/{type}:
    get:
      tags:
      - feedback-template-resource
      summary: getTemplates
      operationId: getTemplatesUsingGET
      parameters:
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
          enum:
          - ANYTIME
          - CYCLE
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackTemplateDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    post:
      tags:
      - feedback-template-resource
      summary: createTemplate
      operationId: createTemplateUsingPOST
      parameters:
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
          enum:
          - ANYTIME
          - CYCLE
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateDto'
        description: template
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback/template/{type}/active:
    get:
      tags:
      - feedback-template-resource
      summary: getActiveTemplates
      operationId: getActiveTemplatesUsingGET
      parameters:
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
          enum:
          - ANYTIME
          - CYCLE
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedbackTemplateDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/feedback/template/{type}/order:
    get:
      tags:
      - feedback-template-resource
      summary: getOrder
      operationId: getOrderUsingGET
      parameters:
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
          enum:
          - ANYTIME
          - CYCLE
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateOrderDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
      - feedback-template-resource
      summary: updateOrder
      operationId: updateOrderUsingPUT
      parameters:
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
          enum:
          - ANYTIME
          - CYCLE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackTemplateOrderDto'
        description: body
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FeedbackTemplateOrderDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    FeedbackTemplateOrderDto:
      type: object
      title: FeedbackTemplateOrderDto
    FeedbackTemplateDto:
      type: object
      title: FeedbackTemplateDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
