openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource review-statistics-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: review-statistics-resource
  description: Review Statistics Resource
paths:
  /v2/review-cycles/statistics:
    get:
      tags:
      - review-statistics-resource
      summary: getCycleStatistics
      operationId: getCycleStatisticsUsingGET_3
      parameters:
      - name: cycleIds
        in: query
        description: cycleIds
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewCycleStatsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/review-cycles/{cycleId}/statistics:
    get:
      tags:
      - review-statistics-resource
      summary: getCycleStatistics
      operationId: getCycleStatisticsUsingGET_2
      parameters:
      - name: cycleId
        in: path
        description: cycleId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReviewCycleStatsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    ReviewCycleStatsDto:
      type: object
      title: ReviewCycleStatsDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
