openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Insights Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: insights-resource
  description: Insights Resource
paths:
  /v2/meeting-insights:
    post:
      tags:
      - insights-resource
      summary: getInsights
      operationId: getInsightsUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/InsightsRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InsightsDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meeting-insights/download-csv:
    post:
      tags:
      - insights-resource
      summary: triggerCsvDownload
      operationId: triggerCsvDownloadUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/InsightsRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DownloadableFileDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meeting-insights/team:
    post:
      tags:
      - insights-resource
      summary: getTeamInsights
      operationId: getTeamInsightsUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/InsightsRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InsightsDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    InsightsDto:
      type: object
      title: InsightsDto
    InsightsRequest:
      type: object
      title: InsightsRequest
    DownloadableFileDto:
      type: object
      title: DownloadableFileDto
  requestBodies:
    InsightsRequest:
      content:
        application/json;charset=UTF-8:
          schema:
            $ref: '#/components/schemas/InsightsRequest'
      description: insightsRequest
      required: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
