openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource company-visibility-settings-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: company-visibility-settings-resource
  description: Company Visibility Settings Resource
paths:
  /v2/company-settings/meeting-visibility:
    put:
      tags:
      - company-visibility-settings-resource
      summary: updateCompanyVisibilitySettings
      operationId: updateCompanyVisibilitySettingsUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingCompanyVisibilitySettingsDto'
        description: settings
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MeetingCompanyVisibilitySettingsDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    MeetingCompanyVisibilitySettingsDto:
      type: object
      title: MeetingCompanyVisibilitySettingsDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
