openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Company Analytics Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: company-analytics-resource
  description: Company Analytics Resource
paths:
  /v2/company-analytics/company-created/{companyId}:
    get:
      tags:
      - company-analytics-resource
      summary: getCompanyDateCreated
      operationId: getCompanyDateCreatedUsingGET
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: string
                format: date-time
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/company-analytics/cycle-data/{companyId}:
    get:
      tags:
      - company-analytics-resource
      summary: getCycleData
      operationId: getCycleDataUsingGET
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewCycleDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/company-analytics/leave-probability/{companyId}:
    get:
      tags:
      - company-analytics-resource
      summary: getLeaveProbability
      operationId: getLeaveProbabilityUsingGET
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaveProbabilityDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/company-analytics/settings:
    get:
      tags:
      - company-analytics-resource
      summary: getSettings
      operationId: getSettingsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/RetentionAnalyticsSettingsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
      - company-analytics-resource
      summary: updateSettings
      operationId: updateSettingsUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionAnalyticsSettingsDto'
        description: retentionAnalyticsSettingsDto
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/company-analytics/{companyId}:
    get:
      tags:
      - company-analytics-resource
      summary: getCompanyAnalytics
      operationId: getCompanyAnalyticsUsingGET
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CompanyAnalyticsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    put:
      tags:
      - company-analytics-resource
      summary: recalculateCompanyAnalytics
      operationId: recalculateCompanyAnalyticsUsingPUT
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    ReviewCycleDto:
      type: object
      title: ReviewCycleDto
    LeaveProbabilityDto:
      type: object
      title: LeaveProbabilityDto
    RetentionAnalyticsSettingsDto:
      type: object
      title: RetentionAnalyticsSettingsDto
    CompanyAnalyticsDto:
      type: object
      title: CompanyAnalyticsDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
