openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Sample Content Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: sample-content-resource
  description: Sample Content Resource
paths:
  /v2/sample-content/config:
    get:
      tags:
      - sample-content-resource
      summary: getConfig
      operationId: getConfigUsingGET_2
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SampleContentManagementDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/sample-content/delete-all:
    post:
      tags:
      - sample-content-resource
      summary: deleteAllContentIncludingCycles
      operationId: deleteAllContentIncludingCyclesUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/SampleContentManagementDto'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/sample-content/delete-sample-users:
    post:
      tags:
      - sample-content-resource
      summary: deleteSampleUsers
      operationId: deleteSampleUsersUsingPOST
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/sample-content/reset-trial:
    post:
      tags:
      - sample-content-resource
      summary: resetSampleContentAndUsers
      operationId: resetSampleContentAndUsersUsingPOST
      requestBody:
        $ref: '#/components/requestBodies/SampleContentManagementDto'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    SampleContentManagementDto:
      type: object
      title: SampleContentManagementDto
  requestBodies:
    SampleContentManagementDto:
      content:
        application/json;charset=UTF-8:
          schema:
            $ref: '#/components/schemas/SampleContentManagementDto'
      description: sampleContentManagementDto
      required: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
