openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource email-event-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: email-event-resource
  description: Email Event Resource
paths:
  /v2/email-events:
    get:
      tags:
      - email-event-resource
      summary: getMailEvents
      operationId: getMailEventsUsingGET
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: events
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: recipientEmail
        in: query
        required: false
        schema:
          type: string
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/EmailEventResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/email-events/{companyId}:
    get:
      tags:
      - email-event-resource
      summary: getMailEventsForCompany
      operationId: getMailEventsForCompanyUsingGET
      parameters:
      - name: companyId
        in: path
        description: companyId
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        required: false
        schema:
          type: string
      - name: events
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: recipientEmail
        in: query
        required: false
        schema:
          type: string
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/EmailEventResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    EmailEventResult:
      type: object
      title: EmailEventResult
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
