openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Meeting Attachment Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: meeting-attachment-resource
  description: Meeting Attachment Resource
paths:
  /v2/meetings/{id}/attachments:
    post:
      tags:
      - meeting-attachment-resource
      summary: create
      operationId: createUsingPOST_2
      parameters:
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: string
      - name: rules.fixedOffset
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].dayOfMonthIndicator
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].dayOfWeek
        in: query
        required: false
        schema:
          type: string
          enum:
          - FRIDAY
          - MONDAY
          - SATURDAY
          - SUNDAY
          - THURSDAY
          - TUESDAY
          - WEDNESDAY
      - name: rules.transitionRules[0].localTime.hour
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.minute
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.second
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].midnightEndOfDay
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].month
        in: query
        required: false
        schema:
          type: string
          enum:
          - APRIL
          - AUGUST
          - DECEMBER
          - FEBRUARY
          - JANUARY
          - JULY
          - JUNE
          - MARCH
          - MAY
          - NOVEMBER
          - OCTOBER
          - SEPTEMBER
      - name: rules.transitionRules[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].standardOffset.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].standardOffset.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].timeDefinition
        in: query
        required: false
        schema:
          type: string
          enum:
          - STANDARD
          - UTC
          - WALL
      - name: rules.transitions[0].dateTimeAfter
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].dateTimeBefore
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].duration.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].duration.negative
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.seconds
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rules.transitions[0].duration.units[0].dateBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].durationEstimated
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].timeBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.zero
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].gap
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].instant
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].overlap
        in: query
        required: false
        schema:
          type: boolean
      - name: totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateAttachmentCommand'
        description: command
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MeetingDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/meetings/{meetingId}/attachments/{attachmentId}:
    get:
      tags:
      - meeting-attachment-resource
      summary: download
      operationId: downloadUsingGET_1
      parameters:
      - name: attachmentId
        in: path
        description: attachmentId
        required: true
        schema:
          type: string
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Download'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    delete:
      tags:
      - meeting-attachment-resource
      summary: delete
      operationId: deleteUsingDELETE_7
      parameters:
      - name: attachmentId
        in: path
        description: attachmentId
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: meetingId
        in: path
        description: meetingId
        required: true
        schema:
          type: string
      - name: rules.fixedOffset
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].dayOfMonthIndicator
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].dayOfWeek
        in: query
        required: false
        schema:
          type: string
          enum:
          - FRIDAY
          - MONDAY
          - SATURDAY
          - SUNDAY
          - THURSDAY
          - TUESDAY
          - WEDNESDAY
      - name: rules.transitionRules[0].localTime.hour
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.minute
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].localTime.second
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].midnightEndOfDay
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitionRules[0].month
        in: query
        required: false
        schema:
          type: string
          enum:
          - APRIL
          - AUGUST
          - DECEMBER
          - FEBRUARY
          - JANUARY
          - JULY
          - JUNE
          - MARCH
          - MAY
          - NOVEMBER
          - OCTOBER
          - SEPTEMBER
      - name: rules.transitionRules[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].standardOffset.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitionRules[0].standardOffset.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitionRules[0].timeDefinition
        in: query
        required: false
        schema:
          type: string
          enum:
          - STANDARD
          - UTC
          - WALL
      - name: rules.transitions[0].dateTimeAfter
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].dateTimeBefore
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].duration.nano
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].duration.negative
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.seconds
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rules.transitions[0].duration.units[0].dateBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].durationEstimated
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.units[0].timeBased
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].duration.zero
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].gap
        in: query
        required: false
        schema:
          type: boolean
      - name: rules.transitions[0].instant
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: rules.transitions[0].offsetAfter.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetAfter.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].offsetBefore.id
        in: query
        required: false
        schema:
          type: string
      - name: rules.transitions[0].offsetBefore.totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: rules.transitions[0].overlap
        in: query
        required: false
        schema:
          type: boolean
      - name: totalSeconds
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MeetingDto'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    CreateAttachmentCommand:
      type: object
      title: CreateAttachmentCommand
    Download:
      type: object
      title: Download
    MeetingDto:
      type: object
      title: MeetingDto
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
