openapi: 3.0.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements action-item-resource email-verifications-resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: email-verifications-resource
  description: Email Verifications Resource
paths:
  /v2/email-verifications:
    post:
      tags:
      - email-verifications-resource
      summary: verify
      operationId: verifyUsingPOST
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/VerificationAttempt'
        description: attempt
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/email-verifications/{address}/resend:
    post:
      tags:
      - email-verifications-resource
      summary: resend
      operationId: resendUsingPOST
      parameters:
      - name: address
        in: path
        description: address
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /v2/email-verifications/{address}/verified:
    get:
      tags:
      - email-verifications-resource
      summary: verified
      operationId: verifiedUsingGET
      parameters:
      - name: address
        in: path
        description: address
        required: true
        schema:
          type: string
      - name: company
        in: query
        description: company
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/IsVerified'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    IsVerified:
      type: object
      title: IsVerified
    VerificationAttempt:
      type: object
      title: VerificationAttempt
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
