openapi: 3.2.0
info:
  description: The Small Improvements REST API (v2) provides programmatic access to the core performance management platform, covering users, feedback cycles, review questionnaires, objectives, 1:1 meetings, pulse surveys, praise, messages, and administrative settings. Authentication uses personal Bearer access tokens generated from user profile settings.
  version: '2.0'
  title: Small Improvements Public Images Resource API
  contact:
    url: https://www.small-improvements.com
    name: Small Improvements
  x-api-id: small-improvements-rest-api
servers:
- url: https://app.small-improvements.com/api
  description: Small Improvements API
security:
- BearerAuth: []
tags:
- name: public-images-resource
  description: Public Images Resource
paths:
  /imageservice:
    get:
      tags:
      - public-images-resource
      summary: get
      operationId: getUsingGET_14
      parameters:
      - name: crop
        in: query
        description: crop
        required: false
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: format
        required: false
        schema:
          type: string
          enum:
          - ORIGINAL
          - PNG
          default: ORIGINAL
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: size
        required: false
        schema:
          type: integer
          format: int32
          default: 200
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
    head:
      tags:
      - public-images-resource
      summary: get
      operationId: getUsingHEAD_1
      parameters:
      - name: crop
        in: query
        description: crop
        required: false
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: format
        required: false
        schema:
          type: string
          enum:
          - ORIGINAL
          - PNG
          default: ORIGINAL
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: size
        required: false
        schema:
          type: integer
          format: int32
          default: 200
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Personal access token generated from user profile settings
